# Countries Challenge (using MatPlot, NumPy, & Pandas)

In [1]:
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [3]:
# read countries_clean excel file
c_df = pd.read_excel('Data/countries_clean.xlsx')

In [19]:
 c_df.head(7)

,Unnamed: 0,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Birthrate,Deathrate
0,0,Afghanistan,Asia (Ex. Near East),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,46.60,20.34
1,1,Albania,Eastern Europe,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,15.11,5.22
2,2,Algeria,Northern Africa,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,17.14,4.61
3,3,American Samoa,Oceania,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,22.46,3.27
4,4,Andorra,Western Europe,71201,468,152.1,0.00,6.60,4.05,19000,100.0,497.2,8.71,6.25
5,5,Angola,Sub-Saharan Africa,12127071,1246700,9.7,0.13,0.00,191.19,1900,42.0,7.8,45.11,24.20
6,6,Anguilla,Latin Amer. & Carib,13477,102,132.1,59.80,10.76,21.03,8600,95.0,460.0,14.17,5.34

In [25]:
c_df = c_df.drop(columns = ['Unnamed: 0'])

# c_df = c_df.drop(['Unnamed: 0'], axis=1) <--- Alternatively

In [26]:
c_df.head(7)

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Birthrate,Deathrate
0,Afghanistan,Asia (Ex. Near East),31056997,647500,48.0,0.00,23.06,163.07,700,36.0,3.2,46.60,20.34
1,Albania,Eastern Europe,3581655,28748,124.6,1.26,-4.93,21.52,4500,86.5,71.2,15.11,5.22
2,Algeria,Northern Africa,32930091,2381740,13.8,0.04,-0.39,31.00,6000,70.0,78.1,17.14,4.61
3,American Samoa,Oceania,57794,199,290.4,58.29,-20.71,9.27,8000,97.0,259.5,22.46,3.27
4,Andorra,Western Europe,71201,468,152.1,0.00,6.60,4.05,19000,100.0,497.2,8.71,6.25
5,Angola,Sub-Saharan Africa,12127071,1246700,9.7,0.13,0.00,191.19,1900,42.0,7.8,45.11,24.20
6,Anguilla,Latin Amer. & Carib,13477,102,132.1,59.80,10.76,21.03,8600,95.0,460.0,14.17,5.34

### Check if there are null values

In [30]:
check_null = c_df.isnull().sum().sum()

print('There are {} null value(s) in this dataframe'.format(check_null))

There are 0 null value(s) in this dataframe